$bg-color-primary: #f4f4f4;     // - основной цвет light
$bg-color-dark:#2E2E2E;         // - основной цвет dark

$text-color-primary: #111321;   // - основной цвет текста
$text-color-accent: #4440F6;    // - основной акцента текста
$text-color-dark: #686868;

